[submodule "detox"]
	path = detox
	url = https://github.com/jasononeil/detox.git
[submodule "stdjs"]
	path = stdjs
	url = https://github.com/skial/stdjs.git
[submodule "feffects"]
	path = feffects
	url = https://github.com/skial/feffects.git
[submodule "beanhx"]
	path = beanhx
	url = https://github.com/skial/beanhx.git
