<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tem</title>
	<style>
	@keyframes nodeInserted {  
		from {  
			clip: rect(1px, auto, auto, auto);  
		}
		to {  
			clip: rect(0px, auto, auto, auto);
		}  
	}

	@-webkit-keyframes nodeInserted {  
		from {  
			clip: rect(1px, auto, auto, auto);  
		}
		to {  
			clip: rect(0px, auto, auto, auto);
		}  
	}
	</style>
</head>
<body>
	<div id="haxe:trace">
		
	</div>
	<!-- Example Nodes |! START !| -->
	
	<div class="C1" data-fieldString>Hello Haxe World 1 - HTML</div>
	<div class="C1" data-fieldString>Hello Haxe World 2 - HTML</div>
	<div class="C1" data-fieldInt>123</div>
	<div class="C1" data-fieldFloat>123.33333333</div>
	
	<!-- Example Nodes |! END !| -->
	<script src="jquery-latest.min.js"></script>
	<script src="bean.js"></script>
	<script src="tem.js" ></script>
</body>
</html>