<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Tem</title>
</head>
<body>
	<div id="haxe:trace">
		
	</div>
	
	<div class="A" style="display: none;">
		<img src="http://lorempixel.com/50/50"/>
		<div data-name>Skial Bainn</div>
		<div data-age>25</div>
		<div data-height>5.9</div>
		<ul data-sarray>
			<li>Hello Skial</li>
			<li>Hello Bob</li>
			<li>Hello Thomas</li>
		</ul>
		<ul data-iarray>
			<li>11</li>
			<li>3</li>
			<li>7</li>
		</ul>
		<ul data-darray>
			<li>Hello 1</li>
			<li>Hello 2</li>
			<li>Hello 3</li>
		</ul>
		<ul data-node>
			<li>Hello 1</li>
			<li>Hello 2</li>
			<li>Hello 3</li>
		</ul>
		<div data-nested>
			<ul>
				<li>Nest 1</li>
				<li>Nest 2</li>
				<li>Nest 3</li>
			</ul>
			<ul>
				<li>Nest 4</li>
				<li>Nest 5</li>
				<li>Nest 6</li>
			</ul>
		</div>
	</div>
</body>
</html>